<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle
        >Dog Breed
        <mat-icon class="icon-nickname" [inline]="true">
          pets
        </mat-icon></mat-card-subtitle
      >
      <mat-icon class="detail-button">more_horiz</mat-icon>
    </mat-card-header>
    <iframe src="https://ball-demo.stackblitz.io" frameborder="0"></iframe>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      <button class="more-actions-button">
        <mat-icon [inline]="true" class="more-actions-icon"
          >arrow_circle_down
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
